// layout_file.kdl

layout {
    // split vertically and open htop in the left pane
    pane split_direction="vertical" {
        pane
        pane
    }
    // pane split_direction="horizontal" {
        // pane split_direction="vertical" {
            // pane command="vim"
            // pane command="ls"
        // }
    // }
}
