// layout_file.kdl
layout {
    swap_tiled_layout name="two_columns" {
        tab max_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
    }
    swap_tiled_layout name="three_plus_rows" {
        tab min_panes=3 {
            pane split_direction="horizontal" {
                pane
                pane
                pane
            }
        }
    }
}

