# Exclude all files from .config directory
config/*
**/*.db
**/pack/
config/fish/fish_variables
**/plugins
**/*.mdb

# Include specific files within .config directory
!config/epy
!config/tmux
!config/nvim
!config/alacritty
!config/zed
!config/zellij
!config/starship.toml

# Except this stuff
config/zed/embeddings/
config/zed/prompts/
config/zed/conversations/

