# Exclude all files from .config directory
config/*
**/*.db
**/pack/
config/fish/fish_variables
**/plugins

# Include specific files within .config directory
!config/fish
!config/epy
!config/tmux
!config/nvim
!config/alacritty
!config/zed

